<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>add user</title></head>
<body>
<div align="center">
    <a href="/admin">Users</a>
    <!--сообщения об ошибках-->
<!--    <p th:text="${errorUsername}"></p>-->
<!--    <p th:text="${errorPassword}"></p>-->
<!--    <p th:text="${errorRoles}"></p>-->
    <table border="1" cellpadding="5">
        <caption>
            Add
        </caption>

        <form action="#" th:action="@{/admin/add}" th:object="${user}" method="post">
            <tr>
                <th><label for="username">Username</label></th>
                <td><input type="text" size="40" required="required" id="username" th:field="*{username}"></td>
            </tr>
            <tr>
                <th><label for="password">Password</label></th>
                <td><input type="text" size="40" required="required" id="password" th:field="*{password}"/></td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    <!--передаю "1" что бы обойти ошибку 400 ('Required String[] parameter 'checkboxRoles' is not present')-->
                    <input type="hidden" name="checkboxRoles" value="1"/>
                    <input type="checkbox" name="checkboxRoles" value="ROLE_USER"/> ROLE_USER
                    <input type="checkbox" name="checkboxRoles" value="ROLE_ADMIN"/> ROLE_ADMIN
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Submit">
                </td>
            </tr>
        </form>
    </table>
    <a href="/home">Home</a>
    <a href="/perform_logout">Logout</a>
</div>
</body>
</html>