<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>add user</title></head>
<body>
<div class="container" align="center" >
<form method="post" th:action="@{/admin/add}">
    <label>
        <input type="text" name="username">
    </label>
    <label>
        <input type="text" name="password">
    </label>

    <label for="role"><select id="role" name="role">
        <option th:value="'ADMIN'" th:text="ADMIN"></option>
        <option th:value="'USER'" th:text="USER"></option>
    </select></label>
    <input type="submit" value="Add user">
</form>
<a href="/logout">logout</a>
</div>
</body>
</html>