<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<div class="container" align="center">
    <a href="/admin/add">ADD USER</a>
    <form>
        <div>
            <table border="2px">
                <tr>
                    <td>id</td>
                    <td>Username</td>
                    <td>Password</td>
                    <td>Role</td>
                    <td>Actions</td>
                </tr>

                <tr th:each="user : ${allUsers}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.password}"></td>
                    <td>
                        <!--если вдруг перестало работать отображение проверь базу на юзерские права-->
                        <div th:each="role: ${user.roles.iterator().next().getRole().toString()}" th:text="${role}">
                            <!--                    <div th:each="role: ${user.roles}" th:text="${role}">-->
                        </div>
                    </td>

                    <td align="2px"><a th:href="@{/admin/edit/{id}(id=${user.id})}">EDIT USER</a>
                        <a th:href="@{/admin/delete/{id}(id=${user.id})}">Delete USER</a></td>
                </tr>
            </table>
        </div>
        <a href="/logout">Log out</a>
    </form>
</div>
</body>
</html>