<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>



<!--<div class="container">-->

<!--    <div class="starter-template">-->

<!--        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>-->
<!--        <a href="/admin/add">Add User</a>-->
<!--        <form th:><table>-->
<!--            <tr>-->
<!--                <td>Id</td>-->
<!--                <td>Username</td>-->
<!--                <td>Role</td>-->
<!--                <td>Actions</td>-->
<!--            </tr>-->


<!--        </table></form>-->
<!--        <form th:action="@{/logout}" method="post">-->
<!--            <input type="submit" value="Sign Out"/>-->
<!--        </form>-->

<!--    </div>-->

<!--</div>-->
<div align="center">
    <a href="/admin/add">Add</a>
    <div th:switch="${allUsers}">
        <h2 th:case="null">No users yet!</h2>
        <div th:case="*">
            <table border="1" cellpadding="5">
                <caption>
                    Users
                </caption>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Roles</th>
                    <th>Actions</th>
                </tr>
                <tbody>
                <tr th:each="user : ${allUsers}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td>
                        <!--впихиваем роли в столбец Роли-->
                        <div th:each="role : ${user.roles.iterator().next().getRole().toString()}" th:text="${role}"></div>
                    </td>
                    <td>
                        <a th:href="@{/admin/users/edit/{id}(id=${user.id})}">Edit</a>
                        <a th:href="@{/admin/users/delete/{id}(id=${user.id})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <a href="/home">Home</a>
        <a href="/perform_logout">Logout</a>
    </div>
</div>
</body>
</html>