<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Edit user</title></head>
<body>
<div  class="container" align="center" >
<form method="post" th:action="@{/admin/edit}">
    <input type="hidden" name="id" th:value="${user.id}"/>
    <input type="hidden" name="id"/>

    <input type="text" th:value="${user.username}" name="username">
    <input type=" text" th:value="${user.password}" name="password">


    <label for="role"><select id="role" name="role">
    <option th:value="'ADMIN'" th:text="ADMIN"></option>
    <option th:value="'USER'" th:text="USER"></option>
</select></label>
    <input type="submit" value="Edit user">
</form>
<a href="/logout">logout</a>
    </div>
</body>
</html>