<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example </title>
</head>
<body>

<div class="container">

    <div class="row"  align="center">

            <form th:action="@{/login}" method="post">

                    <h1>Please Sign In</h1>

                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid username and password.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>

                    <table>
                        <input type="text" name="username" id="username" placeholder="UserName" />


                        <input type="password" name="password" id="password" placeholder="Password"/>


                            <input type="submit" value="Sign In"/>
                    </table>


            </form>
        </div>
    </div>

</body>
</html>